body {
    background-image: url(Imagens/fundo.jpg);
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

form {
    width: 35%;
    height: 30rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.267);
}

form a {
    color: white;
    text-decoration: none;
}

.arrow {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 12px;
    margin-right: 15px;
    margin-left: 15px;

}

.arrow a {
    color:#BF7B3F;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    margin-top: 15px;
    width: 40%;
}

.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.inp {
    border: solid 2px #BF7B3F;
    border-radius: 10px;
    outline: none;
    width: 100%;
    min-width: 300px;
    padding: 4px;
}

.ent {
    background-color: black;
    color: #BF7B3F;
    border-radius: 8px;
    padding: 4px;
    width: 150px;
    transition: 0.5s;
}

.ent:hover {
    background-color: #BF7B3F;
    color: white;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    form {
        width: 90%;
        height: 30rem;
    }

     .inp {
        min-width: 250px;
    }


    .ent:hover {
        background-color: black;
        color: #BF7B3F;
        transform: none;
    }
}

@media (max-width: 320px) {
    form {
        width: 90%;
        height: 25rem;
    }

    .inp {
        min-width: 200px;
    }

    .ent:hover {
        background-color: black;
        color: #BF7B3F;
        transform: none;
    }
}